body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    
    background: rgb(251, 249, 238);
}

h1 {
   color: rgb(18, 91, 9);
   text-align: center;

}