body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    
    background: rgb(8, 4, 75);
}

h1 {
   color: rgb(214, 249, 255);
   text-align: center;

}